*{
  padding:0;
  box-sizing: border-box;
  margin: 0 auto;
}
:root{
  --green:#495E57;
  --yellow:#F4CE14;
  --bgClor: #f2f2f2;
  --bP:#333;
  --yellowHover: #f7dc57;
  --highlight:#edefee;
  --sSalmon: #ee9972;
  --sPeach: #fbdabb;
  --sSeashell: #fdf4ee;
  --headingFont:"Markazi Text", serif;
  --pFont:"Karla", sans-serif;
  --mainHeading: 64px;
  --subHeading: 40px;
  --mediumHeading: 36px;
  --smallHeading: 24px;
  --smallerHeading: 20px;
  --cardTitle: 18px;
  --smallP: 14px;
  --smallerP: 12px;
  --shadow: 4px 5px 6px rgba(0, 0, 0, 0.25);
  --hoverShadow: 4px 5px 10px rbga(0, 0, 0, 0.2);

  h1{
  font: var(--headingFont);
  font-size: var(--mainHeading);
  color:var(--yellow);
  font-weight: 500;
}

h2{
  font: var(--headingFont);
  font-size: var(--subHeading);
  font-weight: 500;
}

h3{
  font: var(--headingFont);
  font-size: var(--mediumHeading);
  font-weight: 500;
}

h4{
  font: var(--headingFont);
  font-size: var(--smallHeading);
  font-weight: 500;
}

h5{
  font: var(--headingFont);
  font-size: var(--smallerHeading);
  font-weight: 500;
}

}
/*======Begin Header Styling=========*/
header{
  width: 100%;
  background-color: white;
  min-height: 10vh;
  padding: 2rem;
  /* text-align: center; */
}

.nav-grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  align-items: center;
}

header li {
  list-style: none;
  display: inline;
  padding: 0.5rem;
}

nav {
  grid-column: 4/10;
}

.nav-grid img {
  width: 100%;
  grid-column: 2/3;
}

header a{
  font: var(--headingFont);
  font-size: var(--smallerHeading);
  text-decoration: none;
  color: black;
  font-weight: 400;
}

header a:hover{
  text-decoration: underline;
  text-decoration-color: var(--yellow);
  text-decoration-thickness: auto;
}

/*======End Header Styling=========*/


.flex-box{
  display: flex;
  justify-content: center;
}

/*=======Begin Footer styling=======*/

footer{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 2rem;
  background-color: var(--highlight);
}

footer img{
  grid-column: 2/4;
  width: 40%;
}

footer h4{
  color:var(--green);
  font-weight: 400;
}

.footer-links{
  grid-column: 4 / span 8;
  display: flex;
   align-items: center;
  width: 100%;
  /* background-color: red; */
}

.footer-flex{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

footer li{
  list-style: none;
  padding-top: 0.25rem;
  font-family: var(--pFont);
}

footer a{
  text-decoration: none;
  color: black;
}

footer a:hover{
  text-decoration: underline;
  text-decoration-color: var(--yellow);
  text-decoration-thickness: auto;
}
/*=======End Footer styling=======*/

/*=======Begin Main styling=======*/
main{
  min-height: 100vh;
}

.heroSection{
  background-color: var(--green);
  height: 406px;
  position: relative;
  padding-bottom: 7rem;
}

.heroSection p{
  color:white;
  padding-bottom: 2rem;
  font-family: var(--pFont);
  font-size: 18px;
  font-weight: 500;
}

.heroSection h3 {
  color: white;
  margin-bottom: 2rem;
}

.heroSection h1{
  margin-bottom: -10px;
}

.twelveColGrid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  padding-inline: 70px;
}

.heroLeft{
  grid-column: 2 / span 5;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heroBtn {
  background-color: var(--yellow);
  border: none;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  color: black;
  font-weight: 700;
  font-family: var(--pFont);
  min-height: 52px;
  min-width: 200px;
  padding-inline: 1rem;
  transition: .28s ease;
  cursor: pointer;
}

.heroBtn:hover{
  background-color: var(--yellowHover);
}

.imgContainer {
  grid-column: 7 / span 5;
  height: 426px;
  justify-self: center;
  position: absolute;
  top: 24px;
  width:374px
}

.imgContainer img{
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  box-shadow: var(--shadow);
}

.clipThreeTen {
  max-width: 310px;
}

/*=======Start Specials Section==========*/
.specialsSection{
  background-color: var(--highlight);
  padding-top: 7rem;
}
.specials.sectionTitle {
  grid-column: 1 / span 5;
  text-align: left;
}

.specials.btn-div{
  grid-column: 9 / span 3;
}

/*=======Specials Cards===========*/

.specialsList{
  grid-column: 2 / span 10 ;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.card{
  box-shadow: var(--shadow);
  max-width: 265px;
  border-radius: 6px 6px;
  transition: .38s ease-in;
}

.card:hover{
  transform: scale(1.1);
}


.order img{
  width: 24px;
}

.order a{
  text-decoration: none;
  color: #495E57;
  font-weight: 500;
  font-family: var(--pFont);
}

.cardImg{
  height: 185px;
}

.cardImg img{
  height: 100%;
  width: 100%;
}

.order, .cardDescription, .cardTitle {
  padding:1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardTitle p{
  font-family: var(--pFont);
  font-weight: 600;
  color: var(--sSalmon);
}

/*==========Testimonials section========*/
.testimonials{
  background-color: var(--sSeashell);
  padding-bottom: 190px;
}

.testimonials h3{
  grid-column: span 12;
  height: fit-content;
  margin: 121px 0 4rem;
  text-align: center;
}

.reviewsContainer{
  grid-column: 3/span 8;
  justify-content: space-between;
  gap: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}

/*=========testimonial cards==========*/
.review-card{
  box-shadow: var(--shadow);
  background-color: #faf3f2;
  border: 1px solid rgba(54, 54, 54, .25);
  border-radius: 1rem;
  max-width: 197px;
  padding: 1.5rem 1.125rem 1.125rem;
  transition: .38s ease-in;
}

.review-card:hover{
  transform: scale(1.1);
}

.picAndUsername{
  align-items: center;
  display: flex;
  gap: .5rem;
  margin-bottom: .625rem;
}

.img-container{
  border-radius: 50%;
  height: 2rem;
  overflow: hidden;
  width: 2rem;
}

.img-container img{
  /* height: 100%; */
  width: 100%;
}

.rating{
  padding-bottom: 0.5rem;
}

/*========About Section=======*/
.aboutSection{
  position: relative;
  padding: 5rem 0rem;
  background-color: var(--bgClor);
}

.aboutTitle h2{
  color: var(--green);
  font-size: var(--subHeading);
  font-weight: 600;
}

.aboutTitle h3{
  color:var(--sSalmon);
  font-size: var(--mediumHeading);
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.aboutInfo p{
  color: var(--bP);
  font-family: var(--pFont);
  font-weight: 500;
}

.aboutInfo{
  grid-column: 2/span 5;
  display: flex;
  align-items: center;
}

.aboutImgContainer{
  display: flex;
  justify-content: center;
  height: 447px;
  grid-column: 7 / span 6;
}

.aboutImg{
  height:338px;
  width:272px;
  border-radius: 1rem;
  transition: .38s ease;
}

#aboutOne{
  background-image: url("aboutOne.jpg");
  background-position: right;
  background-size: cover;
  position: relative;
  right: 97px;
}

#aboutTwo{
  background-image: url("aboutTwo.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  top: 109px;
}

#aboutOne:hover{
  transform: rotate(-5deg) scale(1.1);
}

#aboutTwo:hover{
  transform:rotate(5deg) scale(1.1);
  z-index: 100;
}

/*=======Form Section CSS Here======*/
.bookingSection{
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  padding: 5rem 0;
}

.bookingWrapper h2{
  text-align: center;
  padding-bottom: 1rem;
}

.bookingForm{
  box-shadow: var(--shadow);
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 2rem;
  min-width: 300px;
  max-width: 500px;
}

.bookingForm label{
  display: block;
}

.bookingForm .container label{
  color: var(--green);
  font-size: 26px;
}


.required{
  color: red;
}

.container {
  padding: 0.5rem;
}

.reservationBtn{
  margin: 0.5rem;
  padding: 1rem 0.5rem;
  box-shadow: var(--shadow);
  cursor: pointer;
  width: 100%;
  background-color: var(--yellow);
  color: black;
  border:none;
  border-radius: 6px;
  font-family: var(--pFont);
  font-weight: 600;
}

.reservationBtn:hover{
  background-color: var(--yellowHover);
}

.name{
  display: flex;
}

.dateContainer, .timeContainer, .occasionContainer{
  width: 100%;
}

#time{width: 100%;}
#date{width: 100%;}
#occasion{width: 100%;}

input{
  background-color: var(--highlight);
  border: 1px solid rgba(73, 94, 87, .5);
  border-radius: 6px;
  color: var(--pGreen);
  min-height: 48px;
  transition: .32s ease;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

select{
  background-color: var(--highlight);
  border: 1px solid rgba(73, 94, 87, .5);
  border-radius: 6px;
  color: var(--pGreen);
  min-height: 48px;
  transition: .32s ease;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

input, select, option{
  font-family: var(--pFont);
  font-size: 1rem;
  color: var(--pGreen);
}